$primary-color: #5709ab;
$secondary-color: #a407a1;
$box-shadow:  0 4px 5px rgba(0, 0, 0, 0.2);
$color-pink: lightpink; 
$color-white: white;
$pink: pink;
$family-border:  #340e7c solid;
$ccBackground-color: lavender;
$color-rose: #cc4d7b;
$color-maroon: maroon;
$color-blue: blue;
$form-box-shadaw: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
$form-background-color:  rgba(184, 61, 122, 0.16);